* {
    margin : 0;
    padding:0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: 'Protest Strike', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    min-height : 40vh;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 var(--body-largeur);
    padding: 3rem 1rem;
}
.global > header{
    flex: 1;
}

#entete, #footer{
    min-height: 45vh;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-avant-entete);
    position: relative;
}
header{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-avant-accueil);
    position: relative;
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-avant-evenement);
    position: relative;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-avant-galerie);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-avant-footer);
    position: relative;
}
.section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#entete header{
    display: flex;
    flex-direction: column;
}
nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
nav > a{
    text-decoration: none;
    font-size: 1.5vw;
    padding: 5px;
    border-radius: 8px;
    color: hsl(var(--u1), 100%, 70%);
    background-color: hsl(var(--u3), 100%, 30%);
}
nav > a:hover{
    font-size: 2vw;
    transition: font-size, 0.4s;
}
.section p{
    font-size: clamp(0.5rem, 0rem + 1.6vw, 1rem);
    font-weight: 100;
    letter-spacing: .8px;
    padding: 10px;
    background-color: black;
    color: hsl(var(--u1), 100%, 70%);
    opacity: 20%;
}

#evenement .section p{
    color: hsl(calc(var(--u1) - 180), 100%, 70%);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}