:root {
    /*variables couleurs*/
    /*--couleur-arriere-entete : #0088ff;
    --couleur-arriere-accueil : #0068ff;
    --couleur-arriere-evenement : #0048ff;
    --couleur-arriere-galerie : #0028ff;
    --couleur-arriere-footer : #0008ff;*/

    //teinte de couleur
    --u1: 180; //couleur initial
    --u2: calc(var(--u1) + 15); //couleur complementaire
    --u3: calc(var(--u2) + 15);
    --u4: calc(var(--u3) + 15);
    --u5: calc(var(--u4) + 15);
    //saturation
    --s-arriere: 100%;
    --s-avant: 50%; 
    //luminosité
    --l-arriere: 30%;
    --l-avant: 20%;
    //couleurs arriere plan
    --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-accueil : hsl(var(--u2), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-evenement : hsl(var(--u3), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-galerie : hsl(var(--u4), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-footer : hsl(var(--u5), var(--s-arriere), var(--l-arriere));
    //couleur avant plan
    --couleur-avant-entete : hsl(var(--u1), var(--s-avant), var(--l-avant));
    --couleur-avant-accueil : hsl(var(--u2), var(--s-avant), var(--l-avant));
    --couleur-avant-evenement : hsl(var(--u3), var(--s-avant), var(--l-avant));
    --couleur-avant-galerie : hsl(var(--u4), var(--s-avant), var(--l-avant));
    --couleur-avant-footer : hsl(var(--u5), var(--s-avant), var(--l-avant));

    /*variables transparence*/
    --transparence-entete : 0.8;
    --transparence-body : 0.5;
    --transparence-footer : 0.35;
    /*variables largeurs*/
    --body-largeur : 900px;
}