.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.carte{
    background-color: var(--_couleur-arriere-evenement);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 240px;
    border: 1px solid black;
}
.carte h3{
    height: 100%;
}

.post-categories {//ul de la liste des categories
    display: flex;
    list-style-type: none;
}   