.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.carte{
    background-color: var(--_couleur-arriere-evenement);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 calc(1100px/4);
    border: 1px solid black;
}
.carte h3{
    height: 100%;
}