.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%; //mettre a 23% pour 4 colonnes
    border: 1px solid black;
}