/*
<div class="menu-menu_4w4-container">
<ul id="menu-menu_4w4" class="menu">
<li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-31"><a href="http://localhost:8000/4w4/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost:8000/4w4/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologie emergente</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost:8000/4w4/2020/10/07/582-5w5-projet-web-en-equipe-105h/">Projet web en equipe</a></li>
</ul>
</div>
*/

.menu-menu_4w4-container{
    background-color: var(--couleur-arriere-entete);
    width: 100%;
    margin-top: 20px;
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(300%);
        padding-top: 0px;
        transition: transform 0.8s;
        @media (min-width: 930px) {
            transform: translateX(0%);
            flex-direction: row;
            padding-top: 30px;
        }

    }

    .menu-item {
        list-style-type: none;
    }

    .menu-item a {
        text-decoration: none;
        color: hsl(var(--u1), 100%, 70%);
        font-size: 20px;
        padding: 3px;
    }
}

#burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    @media (min-width: 930px) {
        display: none;
    }
}

#chk_burger{
    display: none;
}

#chk_burger:checked + .menu__header > .menu-menu_4w4-container > .menu{
    transform: translateX(0);
}