/*
<nav class="menu-principal-container"><ul id="menu-principal" class="menu"><li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-16"><a href="http://localhost:8000/4w4/?p=15">Yangshuo, Chine</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17"><a href="http://localhost:8000/4w4/?p=13">Torres del Paine, Chili</a></li>
<li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-18"><a href="http://localhost:8000/4w4/?p=11">Mont Fuji, Japon</a></li>
<li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="#galerie">Galerie</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="#evenement">Evenement</a></li>
</ul></nav>        </header>
*/

.menu-principal-container{
    //background-color: var(--couleur-arriere-entete);
    width: 100%;
    margin-top: 20px;
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100rem);
        padding-top: 0px;
        transition: transform 0.8s;
        @media (min-width: 930px) {
            transform: translateX(0rem);
            flex-direction: row;
            padding-top: 30px;
        }

    }

    .menu-item {
        list-style-type: none;
    }

    .menu-item a {
        text-decoration: none;
        //color: hsl(var(--u1), 100%, 70%);
        font-size: 20px;
        padding: 3px;
    }
}

#burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    @media (min-width: 930px) {
        display: none;
    }
}

#chk_burger{
    display: none;
}

#chk_burger:checked + .menu__header > .menu-principal-container > .menu{
    transform: translateX(0rem);
}