.diagonal{
    position: relative;
    z-index: 1;
}

.diagonal::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: -4.5vw;
    bottom: -4.5vw;
    background-color: hsl(calc(var(--u3) + 180), 100%, 30%);
    transform: skewY(3.5deg);
    z-index: -1;
    opacity: 100%;
}